.product-card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.product-card, .table{
    max-width: calc(50% - 16px);
    margin: 0 auto 16px;
}

.banner-container{
    background-image: url('../assets/imgs/bitcoinbaby-xl.jpg');
}

.card-slider{
    justify-content: center;
}