/* 
1.-Posicionamiento
2.-Modelo de Caja
3.-Tipografía
4.-Visuales
5.-Otros
 */

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 42px;
}

.container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.header--title-container {
    height: 218px;
    margin-top: 36px;
}

.section-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
}

.section-content{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
}

.section__white{
    color: var(--white);
}

.section__soft-orange{
    color: var(--soft-orange);
}

.section__warm-black{
    color: var(--warm-black);
}

.section__dark-gray{
    color: #757575;
}

.section__soft-gray{
    color: #808080;
}

.header--title-container p {
    margin-top: 24px;
}

.header--button {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(50%);
    padding: 0 16px;
    width: 229px;
    line-height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-decoration: none;
}

.header--button span {
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    background-image: url(./assets/icons/arrow-down.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* MAIN */
main {
    background-color: var(--off-white);
}

.exchange-container {
    padding-top: 59px;
    padding-bottom: 64px;
    text-align: center;
}

.background-img {
    width: 195px;
    height: 195px;
    margin: 0 auto 40px;
    background-image: url(./assets/imgs/bitcoin.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange-container--title h2 {
    margin-bottom: 24px;
}

.exchange-container--title p {
    margin-bottom: 48px;
}

.table {
    width: 100%;
    min-width: 197px;
    margin: 0 8px;
}

.table--title {
    padding: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
}

.table--title__orange {
    color: var(--bitcoin-orange);
}

.table--title__blue {
    color: var(--secondary-blue);
}

.table--content {
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--white);
    border-radius: 8px;
}

.table--data {
    width: 50%;
    padding: 10px 12px;
    font-family: 'Inter';
    text-align: left;
    border-bottom: 0.5px solid var(--off-white);
}

tr:last-of-type .table--data {
    border-bottom: none;
}

.table--data__left {
    font-size: 1.6rem;
    color: var(--grey);
    border-right: 0.5px solid var(--off-white);
}

.table--data__right {
    font-size: 1.4rem;
    color: #757575;
    text-align: center;
}

.trending {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10.5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.trending__down {
    background-image: url(./assets/icons/trending-down.svg);
}

.trending__up {
    background-image: url(./assets/icons/trending-up.svg);
}

.table--date {
    padding: 8px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}

.table--date__bg-orange {
    background-color: var(--soft-orange);
}

.table--date__bg-blue {
    background-color: var(--soft-blue);
}

.lay-icon {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, -50%);
    display: block;
    width: 37.45px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/imgs/lay.svg');
}

.product-container {
    position: relative;
    padding: 64px 0 47px;
    background-color: var(--warm-black);
}

.product-container--title h2 {
    margin-bottom: 24px;
}

.product-container--title p {
    margin-bottom: 32px;
}

.product-card {
    max-width: 400px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.product-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.clock-icon {
    background-image: url('./assets/icons/clock.svg');
}

.eye-icon {
    background-image: url('./assets/icons/eye.svg');
}

.dollar-icon {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.check-icon {
    background-image: url('./assets/icons/check-circle.svg');
}

.arrow-icon {
    background-image: url('./assets/icons/arrow-right.svg');
}

.product-card--title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
}

.product-card--content {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.banner-container {
    padding-top: 64px;
    padding-bottom: 297px;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/imgs/bitcoinbaby.jpg');
}

.plans-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    background-color: var(--off-white);
    text-align: center;
}

.plans-container--title h2{
    margin-bottom: 24px;
}

.plans-container--title p{
    margin-bottom: 34px;
}

.card-slider{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 30px 0;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plan-card{
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    margin: 0 8px;
    padding: 31px 16px 24px;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}

.plan-card--head{
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%,-50%);
    font-family: Inter;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bitcoin-orange);
    color: var(--white);
}

.plan-card--title{
    margin-bottom: 8px;
    font-size: 1.8rem;
    color: var(--black);
}

.plan-card--price{
    display: flex;
    align-items: flex-start;
    font-family: inter;
    margin-bottom: 16px;
    font-size: 5.2rem;
    font-weight: 700;
    color: var(--black);
}

.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 500;
    color: #363636;
}

.plan-card--content{
    margin-bottom: 16px;
    font-family: Inter;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #757575;
}

.plan-card--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    line-height: 48px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
    text-decoration: none;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    background-color: var(--off-white);
}

.plan-card--link .product-icon {
    display: inline-block;
    margin: 0 0 0 8px;
}

.footer-bg{
    padding: 40px 0;
    background-color: var(--bitcoin-orange);
}

.footer-container{
    display: flex;
    justify-content: space-around;
}


.footer-nav{
    list-style: none;
}

.footer-nav--link{
    display: block;
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}

.footer-slogan--logo{
    display: block;
    margin: 0 auto 8px;
}

.footer-slogan--link{
    text-decoration: none;
}

.footer-slogan--text{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--white);
}