/* 
1.-Posicionamiento
2.-Modelo de Caja
3.-Tipografía
4.-Visuales
5.-Otros
 */

:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 42px;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
}

h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
}

.header--title-container p{
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--button{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(50%);
    padding: 0 16px;
    width: 229px;
    line-height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-decoration: none;
}

.header--button span{
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    background-image: url(./assets/icons/arrow-down.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* MAIN */
main{
    background-color: var(--off-white);
}

.exchange-container{
    padding-top: 59px;
    padding-bottom: 64px;
    text-align: center;
}

.exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.background-img{
    width: 195px;
    height: 195px;
    margin: 0 auto 40px;
    background-image: url(./assets/imgs/bitcoin.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange-container--title h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
}

.exchange-container--title p{
    margin-bottom: 48px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
}

.table{
    width:70%;
    min-width: 197px;
    max-width: 500px;
    margin: 0 auto;
}

.table-primary{
    margin-bottom: 20px;
}

.table--title{
    padding: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
}

.table--title__orange{
    color: var(--bitcoin-orange);
}

.table--title__blue{
    color: var(--secondary-blue);
}

.table--content{
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--white);
    border-radius: 8px;
}

.table--data{
    width: 50%;
    padding: 10px 12px;
    font-family: 'Inter';
    text-align: left;
    border-bottom: 0.5px solid var(--off-white);
}

tr:last-of-type .table--data{
    border-bottom: none;
}

.table--data__left{
    font-size: 1.6rem;
    color: var(--grey);
    border-right: 0.5px solid var(--off-white);
}

.table--data__right{
    font-size: 1.4rem;
    color: #757575;
    text-align: center;
}

.trending{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10.5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.trending__down{
    background-image: url(./assets/icons/trending-down.svg);
}

.trending__up{
    background-image: url(./assets/icons/trending-up.svg);
}

.table--date{
    padding: 8px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}

.table--date__bg-orange{
    background-color: var(--soft-orange);
}

.table--date__bg-blue{
    background-color: var(--soft-blue);
}

.lay-icon{
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%,-50%);
    display: block;
    width: 37.45px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/imgs/lay.svg');
}

.product-container{
    position: relative;
    padding: 64px 0 47px;
    background-color: var(--warm-black);
}

.product-container--title h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--white);
}

.product-container--title p{
    margin-bottom: 32px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
}

.product-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    margin: 0 auto 16px;
    padding: 16px;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.product-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.clock-icon{
    background-image: url('./assets/icons/clock.svg');
}
.eye-icon{
    background-image: url('./assets/icons/eye.svg');
}
.dollar-icon{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.check-icon{
    background-image: url('./assets/icons/check-circle.svg');
}

.product-card--title{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
}

.product-card--content{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}